body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}

button {
    width: 100%;
    padding: 10px;
    background: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #ae4c4c;
}

#recipes {
    margin-top: 20px;
}

.recipe {
    margin-bottom: 20px;
    padding: 10px;
    background: #f9f9f9;
    border: 1px solid #ddd;
}
